<nav class="flex bg-primary text-white items-center justify-between py-8 px-8">
  <p class="font-bold text-2xl animate-pulse">GESTIONSTOCK</p>
  <div class="flex justify-center items-center gap-12">
    <app-nav-link link="/dashboard" routeName="Dashboard"></app-nav-link>
    <app-nav-link link="/produit" routeName="Produits"></app-nav-link>
    <app-nav-link link="/commandes" routeName="Commandes"></app-nav-link>
    <app-nav-link link="/caise" routeName="Caise"></app-nav-link>
  </div>
  <button class="px-4 py-2 rounded bg-red" (click)="disconnect()">Déconnexion </button>
</nav>
