/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    flex: 1;
}

app-dashboard,
app-produit,
app-commandes
 {
    flex: 1;
}

app-root,
body {
    overflow: hidden;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* styles.css */
router-outlet + * {
    display: block;
    height: 100%;
  }